[submodule "CPE111"]
	path = CPE111
	url = https://github.com/TK-Nathaphop/KMUTT-CPE111-Work.git
	branch = master
[submodule "CPE100"]
	path = CPE100
	url = https://github.com/TK-Nathaphop/KMUTT-CPE100-Work.git
	branch = master
[submodule "CPE314/Project"]
	path = CPE314/Project
	url = https://github.com/TK-Nathaphop/KMUTT-CPE314-MQTT-Network-Project.git
	branch = master
[submodule "CPE327/Project"]
	path = CPE327/Project
	url = https://github.com/TK-Nathaphop/KMUTT-CPE327-RSquare
	branch = master
[submodule "CPE231/Project"]
	path = CPE231/Project
	url = https://github.com/TK-Nathaphop/KMUTT-CPE231-Shoplada
	branch = master
